@define-color button-border #5a4244;
@define-color button-fill #4a3340;
@define-color button-hover #6a5355;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, NotoSans, Arial, sans-serif;
    font-size: 15px;
}

window#waybar {
    background: linear-gradient(to bottom, rgb(45, 28, 45), rgb(30, 22, 22));
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Avoid rounded borders under each button name */
    border: none;
}

button:hover {
    background: @button-hover;
    background: inherit;
    box-shadow: inset 0 -3px #ff99c0;
}

#workspaces button {
    padding: 0 14px;
    background: @button-fill;
    color: #DDDDDD;
    border-radius: 100px;
    border: 2px solid #6a5355;
}

#workspaces button:hover {
    background: @button-hover;
}

#workspaces button.focused, #workspaces button.active {
    background: linear-gradient(to bottom, rgba(202, 93, 166, 1), rgba(255, 189, 202, 1));
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 2px 8px;
    min-width: 30px;
    color: #ffffff;
    border-radius: 10px;
    border: 2px solid @button-border;
    background: @button-fill;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#battery {
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: #2ecc71;
}

#memory {
    color: #dd86ff;
}

#disk {
    color: #964B00;
}

#backlight {
    color: #90b1b1;
}

#network {
    color: #59bdff;
}

#network.disconnected {
    color: #f25a5a;
}

#pulseaudio {
    color: #f1c40f;
}

#pulseaudio:hover {
    background: rgba(163, 120, 0, 0.2);
    box-shadow: inset 0 -3px #f1c40f;
}

#pulseaudio.muted {
    color: #90b1b1;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #f53c3c;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background: 0;
    border: none;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor:hover,
#clock:hover,
#mpd:hover,
#network:hover {
    background-color: @button-hover;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    color: #66dd99;
}

#mpd.disconnected {
    color: #f53c3c;
}

#mpd.stopped {
    color: #90b1b1;
}

#mpd.paused {
    color: #dddddd;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
