configuration {
	modes: "drun,ssh,keys";
	font: "Noto-Sans-Mono 14";
	fixed-num-lines: true;
	show-icons: true;
	terminal: "foot";
/*	icon-theme: ;*/
	combi-modes: "drun,run";
	combi-hide-mode-prefix: true;
/*	combi-display-format: "{mode} {text}";*/
	drun-match-fields: "name";
	drun-show-actions: true;
//	TODO: make drun-show-actions appear in a tree-style in the theme, if possible
	drun-display-format: "{name} \n[<span weight='light' size='small'><i>({generic})</i></span>]";
/*	drun-url-launcher: "xdg-open";*/
	disable-history: true;
	sort: false;
	sorting-method: "fzf";
	matching: "prefix";
	case-sensitive: false;
	case-smart: false;
	cycle: false;
	sidebar-mode: true;
	eh: 2;
/*	parse-hosts: false;*/
/*	parse-known-hosts: true;*/
	scroll-method: 0;
	click-to-exit: true;
	global-kb: true;
	normalize-match: true;
	display-window: "Running";
	display-run: "Commands";
	display-ssh: "ssh";
	display-drun: "Apps";
	display-combi: "combi";
	display-keys: "Keybinds";
	display-filebrowser: "File Browser";
	display-recursivebrowser: "Recursive File Browser";

/* keybinds */

	me-select-entry: "MouseSecondary";
	me-accept-entry: "MousePrimary";

  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "~/.dotfiles/.config/rofi/themes/trayfi.rasi"
