configuration {
	modes: "combi,ssh,keys";
	combi-modes: "drun,run";
//	window mode might be cool for a minimal hyprland setup, if it worked
	font: "Noto-Sans-Mono 14";
	show-icons: true;
/*	fixed-num-lines: true;*/
/*	preview-cmd: ;*/
/*	on-selection-changed: ;*/
/*	on-mode-changed: ;*/
/*	on-entry-accepted: ;*/
/*	on-menu-canceled: ;*/
/*	on-menu-error: ;*/
/*	on-screenshot-taken: ;*/
	terminal: "kitty";
/*	icon-theme: ;*/
/*	drun-match-fields: "name,generic,exec,categories,keywords";*/
/*	drun-categories: ;*/
/*	drun-exclude-categories: ;*/
	drun-show-actions: true;
//	probably wouldnt be enabled if it werent for sober
//	TODO: make them tree-style actions in the theme, if possible
	drun-display-format: "{name} \n[<span weight='light' size='small'><i>({generic})</i></span>]";
/*	drun-url-launcher: "xdg-open";*/
/*	disable-history: false;*/
/*	ignored-prefixes: "";*/
/*	sort: false;*/
/*	sorting-method: "normal";*/
/*	case-sensitive: false;*/
/*	case-smart: false;*/
	cycle: false;
	sidebar-mode: true;
	eh: 2;
/*	auto-select: false;*/
/*	parse-hosts: false;*/
/*	parse-known-hosts: true;*/
/*	combi-modes: "window,run";*/
/*	matching: "normal";*/
/*	tokenize: true;*/
/*	m: "-5";*/
/*	filter: ;*/
/*	dpi: -1;*/
/*	scroll-method: 0;*/
/*	window-format: "{w}    {c}   {t}";*/
/*	click-to-exit: true;*/
/*	global-kb: false;*/
/*	max-history-size: 25;*/
	combi-hide-mode-prefix: true;
/*	combi-display-format: "{mode} {text}";*/
/*	matching-negate-char: '-' /* unsupported */;*/
/*	cache-dir: ;*/
/*	window-thumbnail: false;*/
/*	drun-use-desktop-cache: false;*/
/*	drun-reload-desktop-cache: false;*/
	normalize-match: true;
/*	application-fallback-icon: ;*/
/*	refilter-timeout-limit: 300;*/
/*	xserver-i300-workaround: false;*/
/*	completer-mode: "filebrowser";*/
/*	imdkit: true;*/
	display-window: "Running";
	display-run: "Commands";
	display-ssh: "ssh";
	display-drun: "Apps";
	display-combi: "combi";
	display-keys: "Keybinds";
	display-filebrowser: "File Browser";
	display-recursivebrowser: "Recursive File Browser";
/* keybinds */
/* view "keys" mode for more options */ 
	me-select-entry: "MouseSecondary";
	me-accept-entry: "MousePrimary";
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "~/.dotfiles/.config/rofi/themes/trayfi.rasi"
